@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
// https://api.themoviedb.org/3/movie/550?api_key=ba1e0b6e2201546c3fbc9d90aee7cdb4

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    &::-webkit-scrollbar{
        display: none;
    }
}